/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 */
/* Import Sass mixins, variables, Compass modules, Bourbon and Neat, etc. */
/* HTML element (SMACSS base) rules */
/* line 2, ../sass/base/_buttons.sass */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  appearance: none;
  background-color: #555;
  border: 0;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
/* line 22, ../sass/base/_buttons.sass */
button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
  background-color: #444444;
  color: #fff;
}
/* line 27, ../sass/base/_buttons.sass */
button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
/* line 31, ../sass/base/_buttons.sass */
button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
  background-color: #555;
}

/* line 2, ../sass/base/_forms.sass */
fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 8, ../sass/base/_forms.sass */
legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0;
}

/* line 13, ../sass/base/_forms.sass */
label {
  display: block;
  font-weight: normal;
  margin-bottom: 0.375em;
}

/* line 18, ../sass/base/_forms.sass */
input,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

/* line 24, ../sass/base/_forms.sass */
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 16px;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%;
}
/* line 38, ../sass/base/_forms.sass */
input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
select[multiple]:hover {
  border-color: #b1b1b1;
}
/* line 41, ../sass/base/_forms.sass */
input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
select[multiple]:focus {
  border-color: #555;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(72, 72, 72, 0.7);
  outline: none;
}
/* line 46, ../sass/base/_forms.sass */
input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
select[multiple]:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}
/* line 50, ../sass/base/_forms.sass */
input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
select[multiple]:disabled:hover {
  border: 1px solid #ddd;
}

/* line 53, ../sass/base/_forms.sass */
textarea {
  resize: vertical;
}

/* line 56, ../sass/base/_forms.sass */
[type="search"] {
  appearance: none;
}

/* line 59, ../sass/base/_forms.sass */
[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

/* line 64, ../sass/base/_forms.sass */
[type="file"] {
  margin-bottom: 0.75em;
  width: 100%;
}

/* line 68, ../sass/base/_forms.sass */
select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto;
}

/* line 2, ../sass/base/_lists.sass */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 8, ../sass/base/_lists.sass */
dl {
  margin-bottom: 0.75em;
}
/* line 11, ../sass/base/_lists.sass */
dl dt {
  font-weight: 600;
  margin-top: 0.75em;
}
/* line 15, ../sass/base/_lists.sass */
dl dd {
  margin: 0;
}

/* line 2, ../sass/base/_media.sass */
picture,
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

/* line 2, ../sass/base/_tables.sass */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

/* line 8, ../sass/base/_tables.sass */
th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left;
}

/* line 14, ../sass/base/_tables.sass */
td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0;
}

/* line 18, ../sass/base/_tables.sass */
tr,
td,
th {
  vertical-align: middle;
}

/* line 2, ../sass/base/_typography.sass */
body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

/* line 9, ../sass/base/_typography.sass */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  margin: 0 0 0.75em;
}

/* line 20, ../sass/base/_typography.sass */
h1 {
  font-size: 2.2em;
}

/* line 23, ../sass/base/_typography.sass */
h2 {
  font-size: 1.8em;
}

/* line 26, ../sass/base/_typography.sass */
h3 {
  font-size: 1.4em;
}

/* line 29, ../sass/base/_typography.sass */
h4 {
  font-size: 1.2em;
}

/* line 32, ../sass/base/_typography.sass */
h5 {
  font-size: 1.1em;
}

/* line 35, ../sass/base/_typography.sass */
p {
  margin: 0 0 0.75em;
}

/* line 38, ../sass/base/_typography.sass */
a {
  color: #555;
  text-decoration: none;
  transition: color 150ms ease;
}
/* line 43, ../sass/base/_typography.sass */
a:active, a:focus, a:hover {
  color: #404040;
}

/* line 48, ../sass/base/_typography.sass */
hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0;
}

/* line 56, ../sass/base/_typography.sass */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 60, ../sass/base/_typography.sass */
pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

/* line 68, ../sass/base/_typography.sass */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

/* Layout rules */
/* Component rules (called 'modules' in SMACSS) */
/* line 3, ../sass/components/_breadcrumb.sass */
.breadcrumb li {
  list-style-type: none;
  display: inline-block;
}

/* line 3, ../sass/components/_navigation.sass */
#navigation li {
  list-style-type: none;
  display: inline-block;
}

/* line 2, ../sass/components/_site-name.sass */
.site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

/* line 1, ../sass/components/_pager.sass */
.pager__item {
  display: inline;
}
/* line 4, ../sass/components/_pager.sass */
.pager__item a {
  display: inline-block;
}

/* line 2, ../sass/components/_teams.scss */
#block-views-block-teams-block-1 h2 {
  margin: 10px;
  color: #666666;
}
/* line 6, ../sass/components/_teams.scss */
#block-views-block-teams-block-1 .views-row {
  background: white;
  margin: 10px;
}
/* line 9, ../sass/components/_teams.scss */
#block-views-block-teams-block-1 .views-row img {
  width: 90px;
  height: 70px;
  float: left;
  border: 2px;
  padding: 3px;
}
/* line 17, ../sass/components/_teams.scss */
#block-views-block-teams-block-1 .views-row .team_name a {
  color: black;
  font-size: 0.8em;
}
/* line 20, ../sass/components/_teams.scss */
#block-views-block-teams-block-1 .views-row .team_name a:hover {
  color: #4d4d4d;
}
/* line 25, ../sass/components/_teams.scss */
#block-views-block-teams-block-1 .views-row .league {
  color: #666666;
  position: relative;
  bottom: 17px;
}
/* line 30, ../sass/components/_teams.scss */
#block-views-block-teams-block-1 .views-row h6 {
  position: relative;
  bottom: 15px;
  background: #f8f8f8;
  margin: 3px;
}

/* line 1, ../sass/components/homepage.scss */
.node_teaser {
  min-height: 130px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: 1px solid #dbdbdb;
}
/* line 6, ../sass/components/homepage.scss */
.node_teaser img {
  float: left;
  padding: 6px;
}
/* line 13, ../sass/components/homepage.scss */
.node_teaser .article .header .team a {
  float: left;
  font-weight: bold;
  color: #5d9afc;
  padding-right: 3px;
}
/* line 20, ../sass/components/homepage.scss */
.node_teaser .article .header .date {
  float: left;
  color: #727272;
  padding-right: 3px;
}
/* line 26, ../sass/components/homepage.scss */
.node_teaser .article .header .author a {
  float: left;
  color: #727272;
}
/* line 33, ../sass/components/homepage.scss */
.node_teaser .article .title a {
  margin-top: -5px;
  font-size: 0.8em;
  color: black;
}
/* line 37, ../sass/components/homepage.scss */
.node_teaser .article .title a:hover {
  color: #4d4d4d;
}
/* line 42, ../sass/components/homepage.scss */
.node_teaser .article .body {
  margin-top: -30px;
}
