.node_teaser	{
	min-height: 130px;
	margin-bottom: 10px;
	margin-top: 10px;
	border-bottom: 1px solid #dbdbdb;
	img	{
		float: left;
		padding: 6px;
	}
	.article	{
		.header	{
			.team	{
				a  {
					float: left;
					font-weight: bold;
					color: #5d9afc;
					padding-right: 3px;
				}
			}
			.date	{
				float: left;
				color: #727272;
				padding-right: 3px;
			}
			.author	{
				a  {
					float: left;
					color: #727272;
				}
			}
		}
		.title	{
			a  {
				margin-top: -5px; 
				font-size: 0.8em;
				color: black;
				&:hover	{
					color: #4d4d4d;
				}
			}
		}
		.body	{
			margin-top: -30px;
		}
	}
}
//works but title needs to be moved up a little
// .node_teaser	{
// 	min-height: 120px;
// 	margin-bottom: 10px;
// 	img	{
// 		float: left;
// 		padding: 3px;
// 	}
// 	.article	{
// 		.header	{
// 			.team	{
// 				a  {
// 					float: left;
// 					font-weight: bold;
// 					color: #5d9afc;
// 					padding-right: 3px;
// 				}
// 			}
// 			.date	{
// 				float: left;
// 				color: #727272;
// 				padding-right: 3px;
// 			}
// 			.author	{
// 				a  {
// 					float: left;
// 					color: #727272;
// 				}
// 			}
// 		}
// 		.title	{
// 			a  {
// 				font-size: 0.8em;
// 				color: black;
// 				&:hover	{
// 					color: #4d4d4d;
// 				}
// 			}
// 		}
// 		.body	{
// 			margin-top: -30px;
// 		}
// 	}
// }