/* line 3, ../../sass/components/_breadcrumb.sass */
.breadcrumb li {
  list-style-type: none;
  display: inline-block;
}

/* line 3, ../../sass/components/_navigation.sass */
#navigation li {
  list-style-type: none;
  display: inline-block;
}

/* line 2, ../../sass/components/_site-name.sass */
.site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

/* line 1, ../../sass/components/_pager.sass */
.pager__item {
  display: inline;
}
/* line 4, ../../sass/components/_pager.sass */
.pager__item a {
  display: inline-block;
}

/* line 1, ../../sass/components/_teams.scss */
.block-views-block-teams-block-1 h2 {
  font-color: #047AAB;
}
